:root {
  --color-soft-red: hsl(5, 85%, 63%);
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-very-dark-blue);
  background-color: var(--color-off-white);
}

/* NAVBAR */

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  margin: 0 1rem;
  background-color: var(--color-primary);
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar ul li {
  list-style: none;
  margin-right: 20px;
  font-size: 1.8rem;
  cursor: pointer;
}
.navbar ul li:hover {
  color: var(--color-soft-red);
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ******* */
/* MAIN */
.item-a {
  grid-area: main;
}
.item-a img {
  width: 100%;
}
.item-a-news {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: 4rem;
}
.item-a-news h1 {
  font-weight: 800;
  font-size: 7rem;
  line-height: 1;
}
.item-a-news p {
  line-height: 3.5rem;
  font-size: 2rem;
}
.item-b {
  grid-area: sidebar;
  background-color: var(--color-very-dark-blue);
}

.item-c {
  grid-area: footer;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "main main sidebar" "footer footer footer";
  gap: 2rem;
  margin: 4rem;
}

/* ******* */

.btn-add {
  width: 50%;
  background-color: var(--color-soft-red);
  color: var(--color-off-white);
  border: none;
  font-size: 1.8rem;
  padding: 2rem 1.8rem;
  margin-top: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-add:hover {
  background-color: var(--color-very-dark-blue);
}
/* ******* */
/* FOOTER */
.news-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 4rem;
  gap: 2rem;
}
.news-footer-card {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}
.news-footer-card img {
  height: 70%;
}
.news-footer-text {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  gap: 1.5rem;
  margin-left: 2.5rem;
}
.news-footer-text h1 {
  color: var(--color-grayish-blue);
}
.news-footer-text h2 {
  font-weight: bold;
  cursor: pointer;
}
.news-footer-text h2:hover {
  color: var(--color-soft-red);
}
.news-footer-text p {
  line-height: 4rem;
  font-size: 2.3rem;
}
/* ******* */
/* SIDEBAR */
.news-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 1.8rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  color: var(--color-off-white);
}
.sidebar-text:last-child hr {
  display: none;
}
.news-sidebar h1 {
  color: var(--color-soft-orange);
  margin-top: 4rem;
  font-size: 4rem;
}
.sidebar-text {
  line-height: 1.9;
  margin-bottom: 2.3rem;
  padding-top: 1rem;
}
.sidebar-text h3 {
  font-size: 2.5rem;
  cursor: pointer;
}
.sidebar-text h3:hover {
  color: var(--color-soft-orange);
}

.sidebar-text p {
  font-size: 2.3rem;
  color: var(--color-grayish-blue);
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/
